
.aside {
	float: left;
	padding: 0 20px;
	width: 260px;
}

.stickit {
	margin-left: 660px;
	position: fixed;
	top: 0;
}

.stickit-end {
	float: left;
	bottom: 200px;
	position: absolute;
}

.social-buttons {
/* 	margin-top: 145px; */
	margin-left: -5%;
	z-index: 1;
	width: 36px;
	line-height: 40px;	
}