.AMPLogo {
	font-family: 'Michroma', sans-serif;
}
body {
	font-family: 'Open Sans', sans-serif;
	color: #868585;
}
.text-half {
	font-size: 50% !important;
}
.text-small {
    font-size: 90% !important;
}
.text-bright {
	color: #FFFFFF !important;
}
.text-light {
	color: #C7C7C7 !important;
}
.text-dark {
	color: #4F4F4F !important;
}
.text-muted {
	color: #868585 !important;
}
.text-droid {
	font-family: 'Droid Sans', sans-serif !important;
}
.text-open {
	font-family: 'Open Sans', sans-serif !important;
}
.text-raleway {
	font-family: 'Raleway', sans-serif !important;
}
underline{
	text-decoration: underline;
}
p {
	font-size: 15px;
	line-height: 150%;
}
p.lead {
	font-weight: 400;
	color: #C7C7C7;
}
.headings, h3, li {
	font-family: 'Michroma', sans-serif;
	font-variant: small-caps;
	color: #4F4F4F;
}
h2 {
	font-family: 'Michroma', sans-serif;
	font-variant: small-caps;
	color: #C7C7C7;
}
.btn {
	font-family: 'Raleway', sans-serif;
}
.headings {
	font-size: 15px;
}
.testimonials {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #868585;
	text-indent: 20px;
	margin: 5px;
}
@media ( min-width : 768px) {
	.modal-dialog {
		width: 750px;
		margin: 30px auto;
	}
}
/*table stuff */
th {
	font-size: 15px;
	color: #C7C7C7;
}
td {
	font-size: 14px;
	color: #868585;
}