body,
html {
    height: 100%
}
#background-wrapper,
body,
html {
    width: 100%;
    background-color: #000
}
.btn-default,
.btn-ig {
    font-variant: small-caps
}
body {
    padding-right: 0!important
}
#background-wrapper {
    min-height: 100%;
    display: block;
    padding-bottom: 40px;
    overflow: hidden
}
#background {
    margin-top: -140px;
    padding-top: 140px;
    display: block;
    background: -moz-linear-gradient(top, rgba(38, 38, 38, 0) 22%, rgba(38, 38, 38, .75) 45%, rgba(38, 38, 38, .77) 48%, rgba(38, 38, 38, .77) 52%, rgba(38, 38, 38, .75) 55%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(18%, rgba(38, 38, 38, 0)), color-stop(45%, rgba(38, 38, 38, .75)), color-stop(48%, rgba(38, 38, 38, .77)), color-stop(52%, rgba(38, 38, 38, .77)), color-stop(55%, rgba(38, 38, 38, .75)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(top, rgba(38, 38, 38, 0) 22%, rgba(38, 38, 38, .75) 45%, rgba(38, 38, 38, .77) 48%, rgba(38, 38, 38, .77) 52%, rgba(38, 38, 38, .75) 55%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(top, rgba(38, 38, 38, 0) 22%, rgba(38, 38, 38, .75) 45%, rgba(38, 38, 38, .77) 48%, rgba(38, 38, 38, .77) 52%, rgba(38, 38, 38, .75) 55%, rgba(0, 0, 0, 0) 100%);
    background: -ms-linear-gradient(top, rgba(38, 38, 38, 0) 22%, rgba(38, 38, 38, .75) 45%, rgba(38, 38, 38, .77) 48%, rgba(38, 38, 38, .77) 52%, rgba(38, 38, 38, .75) 55%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(38, 38, 38, 0) 22%, rgba(38, 38, 38, .75) 45%, rgba(38, 38, 38, .77) 48%, rgba(38, 38, 38, .77) 52%, rgba(38, 38, 38, .75) 55%, rgba(0, 0, 0, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00262626', endColorstr='#00000000', GradientType=0)
}
top #top {
    display: block;
    visibility: hidden
}
a {
    color: #9E1D20
}
.col-lg-4>.crop {
    width: auto;
    height: 140px;
    overflow: hidden
}
.dropdown-menu {
    background-color: #181818
}
.dropdown-menu>li>a {
    color: #d2d2d2
}
.dropdown-menu>.divider {
    background-color: red!important
}
.featurette-divider {
    margin: 35px 0
}
.wrapper {
    display: inline-block;
    position: relative
}
.post>img,
.wrapper .overlay {
    position: absolute;
    top: 0;
    left: 0
}
.wrapper img {
    display: block;
    max-width: 100%
}
.wrapper .overlay {
    margin-left: 39%;
    margin-right: auto;
    width: 61%;
    height: 100%;
    background-color: rgba(0, 0, 0, .25);
    color: #fff
}
.btn-danger,
.btn-primary {
    background-color: rgba(158, 29, 32, 0);
    border-color: rgba(158, 29, 32, .5);
    border-width: 2px;
    font-variant: small-caps
}
.btn-default {
    color: #868585;
    background-color: #4F4F4F;
    border-color: #4F4F4F
}
.btn-ig {
    margin-right: 20px;
    background-color: #9E1D20!important;
    border-color: #9E1D20!important
}
.btn-success:hover {
    margin-right: 20px;
    background-color: #e77e80!important;
    border-color: #e77e80!important
}
.post>img {
    width: 115%!important;
    max-height: 110%!important;
    min-height: 0!important
}
@media (max-width: 991px) {
    .post>img {
        margin-left: -30;
        width: 100%
    }
}
.caption {
    padding: 5px 0 0!important;
}
.modal-backdrop {
    z-index: 5;
}
.modal-dialog {
    z-index: 6;
}
.modal-open {
    overflow: hidden!important;
}
.modal {
	padding-right: 0 !important;
}